{{#unless islink}}
<button class="btn {{variantClass}}" onclick="{{{onclick}}}" {{#if isdisabled}}disabled{{/if}} {{#if arialabel}}aria-label="{{arialabel}}"{{/if}} {{{dataatts}}}>
{{#if iconClass}}<span class="btn-icon {{iconClass}}"></span>{{/if}}{{label}}
</button>

{{else}}

<a class="btn {{variantClass}} {{#if isdisabled}} disabled {{/if}}" {{#if isdisabled}} aria-disabled="true" {{/if}} href="{{href}}" target="{{target}}" {{#if arialabel}}aria-label="{{arialabel}}"{{/if}} {{{dataatts}}}>
    {{#if iconClass}}<span class="btn-icon {{iconClass}}"></span>{{/if}}{{label}}
</a>
{{/unless }}