{{!
Component Name: QGDS QOL Pagination
Component Version: 1.0
Framework: Bootstrap 5.3
Reference: https://getbootstrap.com/docs/5.0/components/pagination/
}}

<nav aria-label="{{ arialabel }}">

    <ul class="pagination">

        <li class="page-item previous {{ prev.classes }}">
            <a class="page-link" href="#" aria-label=" {{ prev.arialabel }} ">
                <span>{{ prev.linktext }}</span>
            </a>
        </li>

        {{#each pages}}
        <li class="page-item {{ classes }}">
            <a class="page-link" href="{{ href }}" aria-label=" {{ arialabel }} ">{{ linktext }}</a>
        </li>
        {{/each }}

        <li class="page-item next {{ next.classes }}">
            <a class="page-link" href="#" aria-label="{{ next.arialabel }}">
                <span>{{ next.linktext }}</span>
            </a>
        </li>

    </ul>

</nav>