<div class="alert {{variantClass}} {{customClass}}" role="alert"
    {{#if heading}}aria-label="{{heading}}"{{/if}}>
    {{#if heading}}
        {{#if headingTag}}
            <{{headingTag}} class="alert-heading" role="heading">{{{ heading }}}</{{headingTag}}>
        {{else}}
            <h2 class="alert-heading" role="heading">{{{ heading }}}</h2>
        {{/if}}
    {{/if}}
    {{{ content }}}
</div>