<div class="alert {{variantClass}} {{customClass}}" role="alert" {{aria-label}}>
    {{#if heading}}
        {{#if headingTag}}
            <{{headingTag}} class="alert-heading">{{{ heading }}}</{{headingTag}}>
        {{else}}
            <h2 class="alert-heading">{{{ heading }}}</h2>
        {{/if}}
    {{/if}}
    {{{ content }}}
</div>