<div class="alert {{variantClass}} {{customClass}}" role="alert"
    {{#if alertType}}aria-label="{{alertType}}"{{/if}}>
    <span class="alert-icon">
        <span class="qld-icon qld-icon-md qld-icon-{{#ifCond variantClass '==' 'alert-error'}}alert-danger{{else}}{{#ifCond variantClass '==' 'alert-info'}}alert-information{{else}}{{variantClass}}{{/ifCond}}{{/ifCond}}" aria-hidden="true"></span>
        <span class="visually-hidden">{{variantClass}} alert: </span>
    </span>
    <div class="alert-content">
        {{#if heading}}
            {{#if headingTag}}
                <{{headingTag}} class="alert-heading">{{{ heading }}}</{{headingTag}}>
            {{else}}
                <h2 class="alert-heading">{{{ heading }}}</h2>
            {{/if}}
        {{/if}}
        {{{ content }}}
    </div>
</div>