<!-- QGDS Component: Tag -->

<ul class="tag-list {{variant}}">
  {{#each tagItems}}
    <li class="tag-item {{classes}} {{../size}} {{../emphasis}}">
      {{#if iconSVG}}
        {{#ifCond iconPosition '==' 'leading'}}
            <span class="tag-icon">iconSVG</span>
        {{/ifCond}}
      {{/if}}

      {{{content}}}

      {{#if iconSVG}}
        {{#ifCond iconPosition '==' 'trailing'}}
            <span class="tag-icon">iconSVG</span>
        {{/ifCond}}
      {{/if}}
    </li>
  {{/each }}
</ul>

