<!-- QGDS Component: Tag -->

<ul class="tag-list {{variant}} {{classes}}">
  {{#each tagItems}}
    <li class="tag-item {{classes}} {{../size}} {{../emphasis}}">
      {{{content}}}
      {{#if applied-filter}}
        <button class="tag-clear-filter-button" aria-label="Remove"></button>
      {{/if}}
    </li>
  {{/each }}
</ul>
