<!-- QGDS Component: Tag -->

<ul class="tag-list {{variant}}">
  {{#each tagItems}}
    <li class="tag-item {{classes}} {{../size}} {{../emphasis}}">
      {{{content}}}
    </li>
  {{/each }}
</ul>

