<footer class="qld-footer {{ variantClass }}" role="contentinfo">
  <!-- Footer content container -->
    <div class="container">
        <div class="row">
            <div class="col title">
                <h2 class="footer-site-name">{{ sitename }}</h2>
            </div>
        </div>

        <div class="row">
            <!-- Contact us Column -->
            <div class="col-12 col-lg-3">
                <div class="footer-column footer-contact {{#if contact.hasBorderColumn}}border-column{{/if}}">
                    <div class="row">
                            <h3 class="footer-heading d-none d-lg-block">{{#if contact.title}}{{ contact.title }}{{else}}Contact us{{/if}}</h3>
                            <!-- For mobile/tablet view only -->
                            <div class="d-flex d-lg-none justify-content-between align-items-start gap-3">
                                <div>
                                    <h3 class="footer-heading">{{#if contact.title}}{{ contact.title }}{{else}}Contact us{{/if}}</h3>
                                    {{#if contact.content}}{{{ contact.content }}}{{else}}<p>Get in touch for enquiries, feedback, complaints and compliments.</p>{{/if}}
                                </div>
                                <div>
                                    <a class="btn btn-outline-secondary mt-0" href="{{#if contact.buttonLink}}{{ contact.buttonLink }}{{else}}https://www.qld.gov.au/contact-us{{/if}}">{{#if contact.buttonLabel}}{{ contact.buttonLabel }}{{else}}Contact us{{/if}}</a>
                                </div>
                            </div>
                            <div class="footer-content">
                                <div class="d-none d-lg-block">
                                    {{#if contact.content}}{{{ contact.content }}}{{else}}<p>Get in touch for enquiries, feedback, complaints and compliments.</p>{{/if}}
                                 </div>
                                {{#if contact.showList }}
                                    {{#if contact.list }}
                                        {{#each contact.list }}
                                            <div class="footer-contact-item footer-contact-{{@key}}">
                                                <span class="qld-icon {{this.icon}}" aria-hidden="true"></span> {{{ this.label }}}
                                            </div>
                                        {{/each}}
                                    {{else}}
                                        {{!default contact list }}
                                        <div class="footer-contact-item footer-contact-phone">
                                            <span class="qld-icon qld-icon-phone" aria-hidden="true"></span> <b>Phone:</b> <a href="tel:137468" rel="noopener">13 QGOV (13 74 68)</a>
                                        </div>
                                        <div class="footer-contact-item footer-contact-email">
                                            <span class="qld-icon qld-icon-email" aria-hidden="true"></span> <b>Email:</b> <a href="mailto:email@qld.gov.au" rel="noopener"><span class="user-select-all">email@qld.gov.au</a></span>
                                        </div>
                                    {{/if}}
                                {{/if}}
                            </div>
                        
                        <!-- For desktop view only -->
                        <div class="d-none d-lg-block">
                            <a href="{{#if contact.buttonLink}}{{ contact.buttonLink }}{{else}}https://www.qld.gov.au/contact-us{{/if}}" class="btn btn-outline-secondary">{{#if contact.buttonLabel}}{{ contact.buttonLabel }}{{else}}Contact us{{/if}}</a>
                        </div>
                    </div>
                </div>
            </div>

            
           {{#ifAny optionalColumn1.content optionalColumn1.showFollowLinks optionalColumn1.showCustomLinks }}
                <!-- Optional Column 1 -->
                <div class="col-12 col-lg-2"  aria-label="{{#if optionalColumn1.title}}{{optionalColumn1.title}}{{else}}Footer links{{/if}}">
                <div class="footer-column {{#if optionalColumn1.hasBorderColumn}}border-column{{/if}} optional-column-1">
                    {{#if optionalColumn1.title}}<h3 class="footer-heading">{{optionalColumn1.title}}</h3>{{/if}}
                    <div class="footer-content">
                        {{#if optionalColumn1.content}}{{{ optionalColumn1.content }}}{{/if}}
                        {{#if optionalColumn1.showFollowLinks}}
                                {{> followLinks }}
                        {{/if}}
                        {{#if optionalColumn1.showCustomLinks}}
                                {{> customLinks }}
                        {{/if}}
                    </div>
                </div>
                </div>
            {{/ifAny}}


            <!-- WoG links -->
            <div class="col-12 col-lg-2" aria-label="footer-navigation">
                {{#if footerLinks}}
                <div class="footer-column {{#if footerLinks.hasBorderColumn}}border-column{{/if}}">
                    {{#if footerLinks.title}}<h3 class="footer-heading">{{footerLinks.title}}</h3>{{/if}}
                    {{!-- <nav class="nav footer-link-list flex-column"> --}}
                        <ul class="nav footer-link-list flex-column">
                        {{#each footerLinks.list }}
                            <li><a class="nav-link" href="{{ this.link }}" {{#if this.target }}target="{{this.target}}"{{/if}}>{{ this.label }}</a></li>
                        {{/each }}
                        </ul>
                    {{!-- </nav> --}}
                </div>
                {{else}}
                    {{!default list }}
                    <div class="footer-column ">
                        <ul class="nav footer-link-list flex-column">
                            <li><a class="nav-link" href="https://www.qld.gov.au/help">Help</a></li>
                            <li><a class="nav-link" href="https://www.qld.gov.au/legal/copyright">Copyright</a></li>
                            <li><a class="nav-link" href="https://www.qld.gov.au/legal/disclaimer">Disclaimer</a></li>
                            <li><a class="nav-link" href="https://www.qld.gov.au/legal/privacy">Privacy</a></li>
                            <li><a class="nav-link" href="https://www.qld.gov.au/about/rights-accountability/right-to-information">Right to information</a></li>
                            <li><a class="nav-link" href="https://www.qld.gov.au/help/accessibility">Accessibility</a></li>
                            <li><a class="nav-link" href="https://smartjobs.qld.gov.au" target="_blank">Jobs in Queensland Government</a></li>
                            <li><a class="nav-link" href="https://www.qld.gov.au/help/languages">Other languages</a></li>
                        </ul>
                    </div>
                {{/if}}
            </div>

            
            {{#ifAny optionalColumn2.content optionalColumn2.showFollowLinks optionalColumn2.showCustomLinks }}
                <!-- Optional Column 2 -->
                <div class="col-12 col-lg-2" aria-label="{{#if optionalColumn2.title}}{{optionalColumn2.title}}{{else}}Footer links{{/if}}">
                    <div class="footer-column {{#if optionalColumn2.hasBorderColumn}}border-column{{/if}} optional-column-2">
                        {{#if optionalColumn2.title}}<h3 class="footer-heading">{{optionalColumn2.title}}</h3>{{/if}}
                        <div class="footer-content">
                            {{#if optionalColumn2.content}}{{{ optionalColumn2.content }}}{{/if}}
                            {{#if optionalColumn2.showFollowLinks}}
                                    {{> followLinks }}
                            {{/if}}
                            {{#if optionalColumn2.showCustomLinks}}
                                {{> customLinks }}
                        {{/if}}
                        </div>
                    </div>
                </div>
            {{/ifAny}}

            <!-- Acknowledgement of Country -->
            <div class="col crest">
                <div class="footer-column border-column">
                    <div class="footer-content">
                        <div class="footer-acknowledgements">
                            {{#if acknowledgements }}
                            {{#each acknowledgements}}
                                {{#if title}}
                                    <h3 class="footer-heading">{{title}}</h3>
                                {{/if}}
                                {{#if content}}
                                    {{! extra { so it does not html escape }}
                                    {{{ content }}}
                                {{/if}}
                            {{/each}}
                            {{else}}
                                <p>We pay our respects to the Aboriginal and Torres Strait Islander ancestors of this land, their spirits and their legacy. The foundations laid by these ancestors—our First Nations peoples—give strength, inspiration and courage to current and future generations towards creating a better Queensland.</p>
                            {{/if}}
                        </div>
                        {{#if footerLogo.src}}
                            <div class="footer-logo">
                                <img src="{{ footerLogo.src }}" alt="{{ footerLogo.alt }}" class="img-fluid" />
                            </div>
                        {{else}}
                            {{#if footerLogo.show}}
                                <div class="footer-crest">
                                    {{> logoCOALandscape }}
                                </div>
                            {{/if}}
                        {{/if}}
                        {{#if copyright }}
                            <p class="copyright">
                                {{{copyright.content}}}
                                {{#if copyright.showYearFrom}}{{copyright.yearFrom}} - {{/if}} {{formatDateOrToday "" "YYYY" }}
                            </p>
                        {{else}}
                            {{!default }}
                            <p class="copyright">© The State of Queensland {{formatDateOrToday "" "YYYY" }}</p>
                        {{/if}}

                        {{#if organisationLink.show }}
                            <p><a class="fw-semibold" href="{{#if organisationLink.URL}}{{organisationLink.URL }}{{else}}https://www.qld.gov.au{{/if}}" rel="external">{{#if organisationLink.text}}{{organisationLink.text}}{{else}}Queensland Government{{/if}}</a></p>
                        {{/if}}
                    </div>

                </div>      
            </div>
            
        </div>
    </div>
</footer>