<!-- 
    QGDS Component: Search input 
-->
<div class="qld-search-input {{customClass}}">
    <input id="{{ inputID }}" name="{{ inputName }}" class="form-control" type="text" autocomplete="off"
        aria-label="{{ ariaLabel }}" {{#each tags}} data-{{@key}}="{{this}}" {{/each}} />
    <button class="btn btn-primary" type="{{ buttonType }}" id="{{ buttonID }}">
        <span class="btn-icon"></span>
        <span class="btn-label">{{ buttonLabel }}</span>
    </button>
    {{#ifCond hasDynamicSuggestions '||' hasDefaultSuggestions}}
    <div class="suggestions suggestions__group d-none default">
        {{#if hasDefaultSuggestions}}
            <div class="default-suggestions">
                <div class="suggestions-category">
                    <strong class="suggestions-category-label d-block">{{defaultSuggestions.popularServicesTitle}}</strong>
                    <ul>
                        {{#each defaultSuggestions.popularServices}}
                        <li><a href="{{link}}">{{title}}</a></li>
                        {{/each}}
                        {{#if defaultSuggestions.popularServicesLink}}
                            <li><a href="{{defaultSuggestions.popularServicesLink.href}}" class="view-more">{{#if defaultSuggestions.popularServicesLink.label}}{{defaultSuggestions.popularServicesLink.label}}{{else}}View More{{/if}}</a></li>
                        {{/if}}
                    </ul>
                </div>

                <div class="suggestions-category">
                    <strong class="suggestions-category-label d-block">{{defaultSuggestions.categoriesTitle}}</strong>
                    <ul>
                        {{#each defaultSuggestions.categories}}
                        <li><a href="{{link}}">{{title}}</a></li>
                        {{/each}}
                        {{#if defaultSuggestions.categoriesLink}}
                            <li><a href="{{defaultSuggestions.categoriesLink.href}}" class="view-more">{{#if defaultSuggestions.categoriesLink.label}}{{defaultSuggestions.categoriesLink.label}}{{else}}View More{{/if}}</a></li>
                        {{/if}}
                    </ul>
                </div>
            </div>
        {{/if}}
        {{#if hasDynamicSuggestions}}
            <div class="dynamic-suggestions" {{#if dynamicSuggestionsServiceLink.href}}data-view-more="{{dynamicSuggestionsServiceLink.href}}"{{/if}}></div>
        {{/if}}
    </div>
    {{/ifCond}}    
</div>