<!-- 
    QGDS Component: Search input 
-->
<div class="container {{variantClass}}">
    <div class="qld-search-input {{customClass}}">
        <input id="{{ inputID }}" name=" {{ inputName }}" class="form-control" type="text" placeholder="{{placeholder}}"
            autocomplete="off" aria-label="{{ ariaLabel }}" {{#each tags}} data-{{@key}}="{{this}}" {{/each}} />

        <button class="btn btn-primary" type="{{ buttonType }}" id="{{ buttonID }}">
            <span class="btn-icon"></span>
            <span class="btn-label">{{ buttonLabel }}</span>
        </button>

        {{#if suggestions}}
        <ul class="suggestions suggestions__group">
            <div class="default-suggestions">
                <div class="suggestions-category mt-2">
                    <strong class="suggestion-category-label">Popular services</strong>
                    <ul class="mt-2">
                        {{#each default_suggestions.popular_services}}
                            <li><a href="{{link}}">{{title}}</a></li>
                        {{/each}}
                    </ul>
                </div>

                <hr>

                <div class="suggestions-category mt-2">
                    <strong class="suggestion-category-label">Browse by category</strong>
                    <ul class="mt-2">
                        {{#each default_suggestions.categories}}
                            <li><a href="{{link}}">{{title}}</a></li>
                        {{/each}}
                    </ul>
                </div>

                {{#if default_suggestions.options.view_more}}
                    <div class="suggestions-category mt-4 mb-4">
                        <a href="{{default_suggestions.options.href}}">{{default_suggestions.options.label}}</a>
                    </div>
                {{/if}}
            </div>
            <div class="dynamic-suggestions"></div>
        </ul>
        {{/if}}
    </div>
</div>
