<!-- 
    QGDS Component: Search input 
-->
<div class="container {{variantClass}}">
    
    <div class="qld-search-input {{customClass}}">

        <input id="{{ inputID }}" name=" {{ inputName }}" class="form-control" type="text" placeholder="{{placeholder}}" aria-label="{{ ariaLabel }}" />
    
        <button class="btn btn-primary" type="{{ buttonType }}" id="{{ buttonID }}">{{ buttonLabel }}</button>

    </div>
</div>