<!-- QGDS Component: Date input -->

<!-- Label -->
<label id="dategroup-label"
    class="qld-text-input-label {{#if isRequired}}field-required{{/if}} {{#if isDisabled}}field-disabled{{/if}}"
    for="example-1">
    {{label-text}}
    {{#if optional-text}}
    <span class="label-text-optional">({{optional-text}})</span>
    {{/if}}
</label>

<!-- Hint text -->
{{#if hint-text}}
<span class="qld-hint-text" id="example-1-hint">{{hint-text}}</span>
{{/if}}

{{#contains "qld-input-success" states}}
<span id="text-field-success" class="qld-input-success">
    {{successMessageText}}
</span>
{{/contains}}

{{#contains "qld-input-error" states}}
<span id="text-field-error" class="qld-input-error">
    {{errorMessageText}}
</span>
{{/contains}}

<div aria-labelledby="dategroup-label" role="group" class="row date-container {{customClass}}">
    <!-- day group -->
    <div class="day-group">
        <label for="dayinput" class="date-label qld-text-input-label">Day</label>
        <div>
            <input aria-required="true" aria-labelledby="dategroup-label" max="31" min="1" step="1"
                placeholder="{{day-placeholder}}" type="number"
                class="qld-text-input form-control dayinput {{customClass}} {{states}}" id="dayinput"
                onkeyup="this.value = value.substring(0, 2); if (this.value > 31 && !this.classList.contains('qld-input-error')) { this.classList.add('qld-input-error'); this.blur(); }"
                ref="day" aria-invalid="false" {{#if isDisabled}}disabled{{/if}} {{#if isRequired}}required
                aria-required="true" {{/if}}>
        </div>
    </div>
    <!-- month group -->
    <div class="date-group">
        <label for="monthinput" class="date-label qld-text-input-label">Month</label>
        <div>
            <input aria-required="true" aria-labelledby="dategroup-label" max="12" min="1" step="1"
                placeholder="{{month-placeholder}}" type="number"
                class="qld-text-input form-control monthinput {{customClass}} {{states}}" id="monthinput"
                onkeyup="this.value = value.substring(0, 2); if (this.value > 12 && !this.classList.contains('qld-input-error')) { this.classList.add('qld-input-error'); this.blur(); }"
                ref="month" aria-invalid="false" {{#if isDisabled}}disabled{{/if}} {{#if isRequired}}required
                aria-required="true" {{/if}}>
        </div>
    </div>
    <!-- year group -->
    <div class="date-group">
        <label for="yearinput" class="date-label">Year</label>
        <div class="year-label">
            <input aria-required="true" aria-labelledby="dategroup-label qld-text-input-label" max="2030" min="1900"
                step="1" placeholder="{{year-placeholder}}" type="number"
                class="qld-text-input form-control yearinput {{customClass}} {{states}}" id="yearinput"
                onkeyup="this.value = value.substring(0, 4); if (this.value > 2030 && !this.classList.contains('qld-input-error')) { this.classList.add('qld-input-error'); this.blur(); }"
                ref="year" aria-invalid="false" {{#if isDisabled}}disabled{{/if}} {{#if isRequired}}required
                aria-required="true" {{/if}}>
        </div>
    </div>
</div>
