<!-- QGDS Partial: banner -->

<div class="container-fluid qld-banner {{variantClass}}">

    <div class="container">
        <div class="row">
            
            <div class="col-12 col-md-7">

                {{{breadcrumbs}}}

                <h1 class="banner-title">{{{title}}}</h1>
                <p class="banner-lead">{{{content}}}</p>

                {{#if ctabuttons}}
                <div class="banner-cta btn-toolbar">
                    {{#each ctabuttons}}
                    <a href="{{link}}" class="btn {{class}}" target="{{target}}">{{label}}</a>
                    {{/each}}
                </div>
                {{/if}}

            </div>
        </div>
    </div>

    <div class="banner-image {{image.classes}}" style="--banner-background-img:url({{image.url}})"></div>

</div>