<!-- QGDS Partial: banner -->

<div class="container-fluid qld-banner {{ variantClass }} {{ backgroundType }}" role="banner">

  <div class="container">

    <div class="banner-inner">

      <div class="banner-breadcrumbs">
        {{> breadcrumbs breadcrumbs }}
      </div>

      <div class="banner-content">

        {{#if title}}
        <h1 class="banner-title">{{title}}</h1>
        {{/if}}

        {{#if abstract}}
        <div class="banner-abstract">
          {{abstract}}
        </div>
        {{/if}}

        {{!-- CTA Buttons block. Pass an array of button data objects --}}
        {{#if buttons}}
        <div class="banner-cta" role="group" aria-label="Available options">
          <div class="cta-buttons">
            {{#each buttons}}
            {{> button this }}
            {{/each}}
          </div>
        </div>
        {{/if}}

        {{!-- CTA Cards block. Pass an array of card data objects --}}
        {{#if cards}}
        <div class="banner-cta" role="group" aria-label="Available options">
          <div class="cta-cards">
            {{#each cards }}
            {{> card this }}
            {{/each }}
          </div>
        </div>
        {{/if}}

        {{!-- ~A generic content block for edge cases. Allows any HTML via content variable~ --}}
        {{#if content}}
        <div class="banner-extra">
          {{{ sanitise content }}}
        </div>
        {{/if}}

      </div>
      {{!-- End banner content --}}

      {{#if image }}
      <div class="banner-image {{ join image.classes }}">
        <div class="banner-image-inner" style="background-image:url({{image.url}})" role="img"
          aria-label="{{ image.alt }}"></div>
      </div>
      {{/if}}

    </div>

  </div>
</div>