{{#*inline "navItem"}}
    <li class="nav-item">
        <a class="nav-link"{{~#if id}} id="{{id}}"{{/if~}}{{~#if target}} target="{{target}}"{{/if~}} href="{{url}}">
            {{~{value}~}}
        </a>
    </li>
{{/inline}}

{{#*inline "allLink"}}
    <li class="nav-item all-link">
        {{> callToAction 
            label=(isdefined data.all_link.value "View all")
            href=data.all_link.url 
            target=data.all_link.target 
            class=data.all_link.class 
            arialabel=data.all_link.value 
            id=data.all_link.id}}
    </li>
{{/inline}}


{{#if data.items}}
    <section class="link-column {{theme}}">
        <ul class="nav col-{{columns}}">                
            {{#each data.items}}
                {{> navItem}}
            {{/each}}
            {{#if data.all_link}}
                {{> allLink}}
            {{/if}}
        </ul>
    </section>
{{else}}
    <section class="link-column {{theme}}">
        <p class="nav-placeholder">No items available</p>
    </section>
{{/if}}
