{{#if data}}
    <section class="link-column {{ theme}}">
        <ul class="nav col-{{columns}}">
            {{> linkColBase data}}
        </ul>
    </section>
{{else}}
    <section class="link-column {{theme}}">
        <!-- There are no items available -->
    </section>
{{/if}}


{{#*inline "linkColBase"}}              
    {{#each items}}
        {{> navItem}}
    {{/each}}
    {{#if all_link}}
        <li class="nav-item all-link">
            {{> callToAction 
                label=(isdefined all_link.value "View all")
                href=all_link.url 
                target=all_link.target 
                class=all_link.class 
                arialabel=all_link.value 
                id=all_link.id}}
        </li>
    {{/if}}
{{/inline}}

{{#*inline "navItem"}}
    <li class="nav-item">
        <a class="nav-link"{{~#if id}} id="{{id}}"{{/if~}}{{~#if target}} target="{{target}}"{{/if~}} href="{{url}}">
            {{~{value}~}}
        </a>
    </li>
{{/inline}}