<a class="qld-cta-link {{getClassNames "small, view-all" class}}"
    {{#if id}}id="{{id}}"{{/if}}
    href="{{href}}" 
    target="{{target}}" 
    {{#if arialabel}}aria-label="{{arialabel}}"{{/if}} 
    >
     {{label}}
    <span class="icon" aria-hidden="true"></span>
</a>