{{! Image template }}
{{#*inline "imageTag"}}
  <img class="{{ ratioClass }} {{ otherClass }} {{ positionX }} {{ positionY }}"
    src="{{ src }}"
    alt="{{ alt }}"
    {{~#if width}} width="{{ width }}{{ widthUnit }}"{{/if~}}
    {{~#if height}} height="{{ height }}{{ heightUnit }}"{{/if~}}
    {{~#if lazy}} loading="lazy"{{/if~}}
    {{~#if style}} style="{{ style }}"{{/if~}}
    {{~#if tabindex}} tabindex="{{ tabindex }}"{{/if~}}
    {{~#if role}} role="{{ role }}"{{/if~}}
  />
{{/inline}}

{{#if src}}
  {{#if (or description credit caption)}}
    <figure class="{{ figureClass }}" {{#if width}}style="width:{{ width }}{{ widthUnit }}"{{/if}}>
      {{> imageTag}}
      <figcaption>
        {{#if (or description credit)}}
          {{#if description}}<span class="figure-description">{{ description }}</span>{{/if}}
          {{#if credit}}<span class="figure-credit">{{ credit }}</span>{{/if}}
        {{else}}
          {{ caption }}
        {{/if}}
      </figcaption>
    </figure>
  {{else}}
    {{> imageTag}}
  {{/if}}
{{/if}}