{{#each options}}
<div class="form-check">
  <input class="form-check-input" type="{{type}}" name="{{name}}" id="flexRadioDefault2" value="{{value}}" {{state}}>
  <label class="form-check-label" for="flexRadioDefault2">
    {{label}}
  </label>
</div>
{{/each}}