{{#unless hide_back_to_top}}
  <div class="qld__widgets{{#if dynamic}} fixed{{/if}}">
      <a href="#" id="backToTop" class="qld__btn qld__btn--floating qld__btn--back-to-top show" data-btn-dynamic="{{dynamic}}" {{#if dynamic}}data-btn-offset="{{offset}}"{{/if}} aria-label="{{#if text}}{{text}}{{else}}Back to top{{/if}}">
        <span>{{#if text}}{{text}}{{else}}Back to top{{/if}}</span>
      </a>
  </div>
{{/unless}}