<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    {{> head }}
</head>

<body>
    {{> globalAlert globalAlert}}
    {{> header header}}
    {{> navbar navbar}}

    {{#if banner}}
    {{> banner banner}}
    {{/if}}

    <main>
        <div class="container-fluid">
            <div class="container qld-content">
                {{#if breadcrumbs}}
                <div class="row">
                    <div class="col-12">
                        {{> breadcrumbs breadcrumbs}}
                    </div>
                </div>
                {{/if}}

                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="content-section">
                            {{{content}}}
                        </div>

                        {{#if form}}
                        <form class="qld-form">
                            {{#each form.fields}}
                            <div class="form-group mb-3">
                                {{#ifCond type '==' 'textbox'}}
                                {{> textbox this}}
                                {{else ifCond type '==' 'textarea'}}
                                {{> textarea this}}
                                {{else ifCond type '==' 'select'}}
                                {{> select this}}
                                {{else ifCond type '==' 'dateinput'}}
                                {{> dateinput this}}
                                {{else ifCond type '==' 'formcheck'}}
                                {{> formcheck this}}
                                {{/ifCond}}
                            </div>
                            {{/each}}

                            {{#if form.buttons}}
                            <div class="form-actions mt-4">
                                {{#each form.buttons}}
                                {{> button this}}
                                {{/each}}
                            </div>
                            {{/if}}
                        </form>
                        {{/if}}

                        {{> contentFooter contentFooter}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        {{> backToTop backToTop}}
                    </div>
                </div>
            </div>
        </div>
    </main>
    {{> footer footer}}
</body>

</html>