<!-- MAIN NAVIGATION -->
<nav class="qld__main-nav qld__main-nav--{{metadata.theme.class}}" id="#mainmenu" aria-label="main">
    <div class="container-fluid">
        <div class="qld__main-nav__content {{#if metadata.options.hideMenuDesktop.value}}qld__main-nav__no-desktop{{/if}} qld__main-nav__content--open" id="main-nav">
            <div class="qld__main-nav__menu
            {{#if metadata.theme.value}}
                qld__main-nav__menu--{{metadata.theme.class}}
            {{/if}}
            ">
                <div class="qld__main-nav__menu-inner">
                    <div class="qld__main-nav__focus-trap-top"></div>
                    <div class="qld__main-nav__header">
                        <h6 class="qld__main-nav__menu-heading">Menu</h6>
                        <button aria-controls="main-nav" class="qld__main-nav__toggle qld__main-nav__toggle--close">
                            <svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" class="qld__icon qld__icon--md"><use href="{{metadata.options.siteDefaultIcons.value}}#qld__icon__close"></use></svg>
                            <span class="qld__main-nav__toggle-text">Close</span>
                        </button>
                    </div>
                    <ul class="qld__link-list qld__link-list--flex">
                        <li class="{{#if metadata.options.current.home}}active{{/if}} qld__main-nav__item">
                            <div class="qld__main-nav__item-title">
                                <a class="qld__main-nav__item-link" {{#if metadata.options.current.home}}aria-current="page"{{/if}} href="./?a={{metadata.options.assetid.value}}">
                                    <svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" class="qld__icon qld__icon--md "><use href="{{metadata.options.siteDefaultIcons.value}}#qld__icon__home"></use></svg>
                                    <span class="qld__main-nav__item-text" data-name="">Home</span>
                                </a>
                            </div>
                        </li>
                        {{#each navigation}}
                        <li class="qld__main-nav__item active">
                            <div class="qld__main-nav__item-title">
                                <a class="qld__main-nav__item-link" aria-current="page" href="./?a={{metadata.options.assetid.value}}" >
                                    <span class="qld__main-nav__item-text" data-name="">{{{title}}}</span>
                                </a>
                            </div>
                        </li>
                        {{/each}}
                    </ul>

                    {{#if metadata.options.mainNavCtaOne.value}}
                    <div class="qld__main-nav__cta-wrapper">
                        <ul class="qld__link-list qld__link-list--flex">
                        {{#if metadata.options.mainNavCtaOne.value}}
                            <li class="qld__main-nav__item qld__main-nav__item--cta active">
                                <div class="qld__main-nav__item-title">
                                    <a class="qld__main-nav__item-link" aria-current="page" href="./?a={{site.metadata.mainNavCtaOne.url}}" >
                                        {{#if metadata.options.mainNavCtaOne.mainNavCtaOneIcon.value}}
                                            <i class="qld__icon qld__icon--sm {{metadata.options.mainNavCtaOne.mainNavCtaOneIcon.value}}"></i>
                                        {{/if}}
                                        <span class="qld__main-nav__item-text" data-name="{{{metadata.options.mainNavCtaOne.mainNavCtaOneText.value}}}">{{{metadata.options.mainNavCtaOne.mainNavCtaOneText.value}}}</span>
                                    </a>
                                </div>
                            </li>
                            {{/if}}
                            {{#if metadata.options.mainNavCtaTwo.value}}
                            <li class="qld__main-nav__item qld__main-nav__item--cta active">
                                <div class="qld__main-nav__item-title">
                                    <a class="qld__main-nav__item-link" aria-current="page" href="./?a={{metadata.options.mainNavCtaTwo.url}}" >
                                        {{#if metadata.options.mainNavCtaTwo.mainNavCtaTwoIcon.value}}
                                            <i class="qld__icon qld__icon--sm {{metadata.options.mainNavCtaTwo.mainNavCtaTwoIcon.value}}"></i>
                                        {{/if}}
                                        <span class="qld__main-nav__item-text" data-name="{{{metadata.options.mainNavCtaTwo.mainNavCtaTwoText.value}}}">{{{metadata.options.mainNavCtaTwo.mainNavCtaTwoText.value}}}</span>
                                    </a>
                                </div>
                            </li>
                        {{/if}}
                        </ul>
                    </div>
                    {{/if}}
                    
                    <div class="qld__main-nav__focus-trap-bottom"></div>
                </div>
            </div>
            <div
                class="qld__main-nav__overlay"
                aria-controls="main-nav"
            ></div>
        </div>
    </div>
</nav>

<!-- MAIN NAVIGATION END -->
