<!-- QGDS Component: Global Alert -->

<div class="global-alert-include">
  {{#each alertItems}}
  <section class="global-alert {{variant}}" data-variant="{{variant}}">
      <div class="qld-global-alert-main">
        <div class="global-alert-icon">
            {{#ifCond variant '==' 'global-alert-critical'}}
              <svg class="qld-icon-sm" aria-label="Critical alert">
                <use href="./assets/img/icons-sprite.svg#qgds-icon-alert-danger"></use>
              </svg>
            {{else ifCond variant '==' 'global-alert-info'}}
              <svg class="qld-icon-sm" aria-label="Information alert">
                <use href="./assets/img/icons-sprite.svg#qgds-icon-alert-information"></use>
              </svg>
            {{else ifCond variant '==' 'global-alert-warning'}}
              <svg class="qld-icon-sm" aria-label="Warning alert">
                <use href="./assets/img/icons-sprite.svg#qgds-icon-alert-warning"></use>
              </svg>
            {{/ifCond}}
        </div>

        <div class="global-alert-content">
          <div class="global-alert-message">
            {{{content}}}
          </div>
          <div class="global-alert-action">
            {{{action}}}
          </div>
        </div>
        <div class="global-alert-close">
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
  </section>
  {{/each }}
</div>
