<!-- QGDS Component: Global Alert -->

<div class="global-alert-include">
  {{#each alertItems}}
  <section class="global-alert {{variant}}" data-variant="{{variant}}"{{#if expiry}} data-expiry="{{expiry}}"{{/if}}>
      <div class="qld-global-alert-main">
        <div class="global-alert-icon">
            {{#ifCond variant '==' 'global-alert-critical'}}
              {{> icon size="sm" ariaLabel="Critical alert" iconId="alert-danger"}}
            {{else ifCond variant '==' 'global-alert-info'}}
              {{> icon size="sm" ariaLabel="Information alert" iconId="alert-information"}}
            {{else ifCond variant '==' 'global-alert-warning'}}
              {{> icon size="sm" ariaLabel="Warning alert" iconId="alert-warning"}}
            {{/ifCond}}
        </div>

        <div class="global-alert-content">
          <div class="global-alert-message">
            {{{content}}}
          </div>
          <div class="global-alert-action">
            {{{action}}}
          </div>
        </div>
        <div class="global-alert-close">
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
  </section>
  {{/each }}
</div>
