<!-- QGDS Component: Textbox -->

<label class="qld-text-input-label {{#if isRequired}}field-required{{/if}} {{#if isDisabled}}field-disabled{{/if}}"
    for="{{id}}">
    {{label-text}}
    {{#if optional-text}}
    <span class="label-text-optional">({{optional-text}})</span>
    {{/if}}
</label>

{{#if hint-text}}
<span class="qld-hint-text" id="{{id}}-hint">{{hint-text}}</span>
{{/if}}

{{#contains "qld-input-success" customClass}}{{! legacy support for feedback classes `qld-input-success`}}
<span class="qld-input-success">{{successMessageText}}</span>
{{else}}
{{#if successMessageText}}{{! updated bootstrap style classes - `valid-feedback`}}
<div class="valid-feedback">{{successMessageText}}</div>
{{/if}}{{/contains}}

{{#contains "qld-input-error" customClass}}{{! legacy support for feedback classes `qld-input-error`}}
<span class="qld-input-error">{{errorMessageText}}</span>
{{else}}
{{#if errorMessageText}}{{! updated bootstrap style classes - `invalid-feedback`}}
<div class="invalid-feedback">{{errorMessageText}}</div>
{{/if}}{{/contains}}

<input id={{id}} {{#if value}}value="{{value}}"{{/if}}  class="form-control {{customClass}} {{#if isFilled}}is-filled{{/if}} {{#if isValid}}is-valid{{else}}{{#ifCond isValid "===" false}}is-invalid{{/ifCond}}{{/if}}"
    type="text" placeholder="{{placeholder}}" {{#if isDisabled}}disabled{{/if}} {{#if
    isRequired}}required{{/if}} {{#if hint-text}}aria-describedby="{{id}}-hint"{{/if}} />