<div class="qld-side-navigation">

    <h2 class="nav-title">
        {{#if navtitlelink }}
        <a class="nav-link" href="{{navtitlelink}}">{{navtitle}}</a>
        {{else}}
        {{navtitle}}
        {{/if}}
    </h2>

    <!-- Level One -->
    <ul class="nav" aria-label="section navigation">

        {{#each navlist}}
        <li class="nav-item {{class}}">
            
            {{#contains "active" class }}
            <span class="nav-link">{{label}}</span>
            {{else}}
            <a class="nav-link" href="{{link}}" target="{{target}}">
                {{label}} {{class}}
            </a>
            {{/contains}}

            {{#if children}}
            <!-- Level Two -->
            <ul>
            {{#each children}}
                <li class="nav-item {{class}}">
                    
                {{#contains "active" class }}
                <span class="nav-link">{{label}}</span>
                {{else}}
                <a class="nav-link" href="{{link}}" target="{{target}}">
                    {{label}} {{class}}
                </a>
                {{/contains}}

                    {{#if children}}
                    <!-- Level Three -->
                    <ul class="with-stalks">
                    {{#each children}}
                        <li class="nav-item {{class}}">
                           
                        {{#contains "active" class }}
                        <span class="nav-link">{{label}}</span>
                        {{else}}
                        <a class="nav-link" href="{{link}}" target="{{target}}">
                            {{label}} {{class}}
                        </a>
                        {{/contains}}

                        </li>
                    {{/each}}
                    </ul>
                    {{/if}}

                </li>
            {{/each}}
            </ul>
            {{/if}}

        </li>
        {{/each}}
    </ul>
</div>