<!-- QGDS Component: Table -->

<div class="table-responsive qld-table">

    <table class="table {{classes}}">

        {{#data.caption}}
        <caption class="caption">
            {{data.caption}}
            <span class="sub-caption">{{{ subcaption }}}</span>
        </caption>
        {{/data.caption}}

        <thead>
            <tr>
                {{#headers}}
                <th scope="col">{{.}}</th>
                {{/headers}}
            </tr>
        </thead>

        <tbody>
            {{#rows}}
            <tr class="">
                {{#cells}}
                <td>{{.}}</td>
                {{/cells}}
            </tr>
            {{/rows}}
        </tbody>

        <tfoot>
            {{#footer}}
            <tr class="">
                {{#cells}}
                <td>{{.}}</td>
                {{/cells}}
            </tr>
            {{/footer}}
            </tbody>

    </table>
</div>