{{! valid class values are: up, down, left, right}}
<a class="qld-dir-link  {{~#if class}} {{class}}{{/if}}" 
    {{~#if id}}id="{{id}}"{{/if~}} 
    href="{{href}}" 
    {{~#if target}} target="{{target}}"{{/if~}}
    {{~#if arialabel}}aria-label="{{arialabel}}"{{/if~}}>
  {{{label}}}
  <span class="icon" aria-hidden="true"></span>
</a>
