
{{#ifCond type_variant '==' 'section-tabs'}}
    <section class="container tab-content pb-5 pt-5 mb-0 {{~#if tab_variant}} {{tab_variant}} {{else}} default{{/if~}}">
        <div class="row" style="padding-inline: 2.5rem;">
            <h2>{{sibiling_section_title}}</h2>
            {{{sibling_section_content}}}
        </div>
    </section>
{{/ifCond}}

<!-- QGDS Tabs -->    
<section class="qld-tabs {{~#if type_variant}} {{type_variant}}{{/if~}} {{~#if variant}} {{variant}}{{else}} default{{/if~}}">        
    <div class="tabs-area container">
        <ul class="nav nav-tabs {{#ifCond type_variant '==' 'section-tabs'}}{{~#if tab_variant}} {{tab_variant}} {{else}} default{{/if~}}{{/ifCond}}"  role="tablist">
            {{#each data.items }}
                <li class="nav-item" role="presentation">
                    <button class="nav-link {{#if @first}}active{{/if}}" id="{{toCamelCase this.tab_text}}-tab" data-bs-toggle="tab" data-bs-target="#{{toCamelCase this.tab_text}}-{{../unique_id}}-tab-pane" type="button" role="tab" aria-controls="#{{this.tab_text}}-tab-pane" aria-selected="{{#if @first}}true{{else}}false{{/if}}" {{#if this.disabled}}disabled{{/if}}>
                        <span>
                            {{#if this.icon}}
                                <i class="{{this.icon}}"></i>
                            {{/if}}{{~this.tab_text~}}
                        </span>
                    </button>
                </li>
            {{/each }}
        </ul>
        <button class="scroll scroll-left" aria-hidden="true" aria-label="Scroll tab buttons left" tabindex="-1">
            <i></i>
        </button>
        <button class="scroll scroll-right" aria-hidden="true" aria-label="Scroll tab buttons right" tabindex="-1">
            <i></i>
        </button>
    </div>
    <div class="tab-content container">
        {{#each data.items }}
            <section class="tab-pane fade {{#if @first}}show active{{/if}}" id="{{toCamelCase this.tab_text}}-{{../unique_id}}-tab-pane" role="tabpanel" aria-labelledby="{{this.tab_text}}-tab" tabindex="0">
                {{#ifCond ../type_variant '==' 'section-tabs'}}
                    <h2>{{this.title}}</h2>
                {{else}}
                    <h3>{{this.title}}</h3>
                {{/ifCond}}
                {{{this.content}}}
            </section>
        {{/each }}
    </div>
</section>