
{{#ifCond type '==' 'section'}}
    <section class="container tab-content pb-5 pt-5 mb-0 {{~#if tab_variant}} {{tab_variant}} {{else}} default{{/if~}}">
        <div class="row" style="padding-inline: 2.5rem;">
            <h2>Heading (H2)</h2>
            <p>Lorem ipsum dolor sit amet consectetur. Viverra eu pulvinar a eu mauris ac at ultricies est. Tincidunt ultrices commodo vestibulum non netus. Mauris maecenas lacus hendrerit urna ultricies auctor. Sed tristique nascetur sapien condimentum adipiscing augue quisque eu. Facilisi ligula quam faucibus feugiat. Sapien at at eget malesuada senectus donec pellentesque pellentesque odio.</p>
        </div>
    </section>
{{/ifCond}}

<!-- QGDS Tabs -->    
<section class="qld-tabs {{~#if type}} tab-{{type}}{{/if~}} {{~#if variant}} {{variant}}{{else}} default{{/if~}}">        
    <div class="tabs-area container">
        <ul class="nav nav-tabs {{#ifCond type '==' 'section'}}{{~#if tab_variant}} {{tab_variant}} {{else}} default{{/if~}}{{/ifCond}}"  role="tablist">
            {{#each data.items }}
                <li class="nav-item" role="presentation">
                    <button class="nav-link {{#if @first}}active{{/if}}" id="{{toCamelCase this.tab_text}}-tab" data-bs-toggle="tab" data-bs-target="#{{toCamelCase this.tab_text}}-{{../unique_id}}-tab-pane" type="button" role="tab" aria-controls="#{{this.tab_text}}-tab-pane" aria-selected="{{#if @first}}true{{else}}false{{/if}}" {{#if this.disabled}}disabled{{/if}}>
                        {{!-- <span {{#ifCond icon_position '==' 'trailing'}}class="reverse"{{/ifCond}}> --}}
                        <span>
                            {{#if this.icon}}
                                <i class="{{this.icon}}"></i>
                            {{/if}}
                            {{this.tab_text}}
                        </span>
                    </button>
                </li>
            {{/each }}
        </ul>
        <button class="scroll scroll-left" aria-hidden="true" aria-label="Scroll tab buttons left" tabindex="-1">
            <i class="fa-solid fa-chevron-left"></i>
        </button>
        <button class="scroll scroll-right" aria-hidden="true" aria-label="Scroll tab buttons right" tabindex="-1">
            <i class="fa-solid fa-chevron-right"></i>
        </button>
    </div>
    <div class="tab-content container">
        {{#each data.items }}
            <article class="tab-pane fade {{#if @first}}show active{{/if}}" id="{{toCamelCase this.tab_text}}-{{../unique_id}}-tab-pane" role="tabpanel" aria-labelledby="{{this.tab_text}}-tab2" tabindex="0">
                {{#ifCond type '==' 'section'}}<h2>{{else}}<h3>{{/ifCond}}
                {{this.title}}
                {{#ifCond type '==' 'section'}}</h2>{{else}}</h3>{{/ifCond}}
                {{{this.content}}}
                {{#if this.cta}}
                    {{> callToAction label=this.cta.value href=this.cta.url target=this.cta.target class=this.cta.class arialabel=this.cta.value id=this.cta.id }}                            
                {{/if}}
            </article>
        {{/each }}
    </div>
</section>