<header class="qld-header" role="banner">
    <div class="qld-header-pre-header">
        <div class="qld-header-container">
            <div class="d-flex justify-content-between align-items-center">
                <a class="qld-header-link" href="{{#if preHeader.globalLink.url}}{{preHeader.globalLink.url}}{{else}}https://qld.gov.au{{/if}}">
                    <span class="d-none d-lg-inline">{{preHeader.globalLink.text}}</span>
                    {{>logo className="qld-header-logo" fill="currentColor"}}
                </a>

                <div class="qld-header__cta-wrapper">
                    {{#if preHeader.CTA}}
                    {{#each preHeader.CTA}}
                    <span {{#if dropdown_enabled}} class="dropdown dropdownCTA" {{/if}}>
                        <a {{#if dropdown_enabled}} id="dropdown{{id}}" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false" class="qld-header-link qld-header__cta-link" href="#" {{else}} href="{{url.value}}"
                             {{/if}}>
                            <span class="qld-header__cta-link-text">{{{text.value}}}</span>
                            {{#if dropdown_enabled}}
                            <svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg"
                                class="qld-header__cta-link-icon">
                                <use href="{{@root.icon-root}}#{{@root.icons.chevron_down}}" aria-hidden="true"></use>
                            </svg>
                            {{/if}}
                        </a>
                        {{#if dropdown_enabled}}
                        <ul class="dropdown-menu dark" role="list">
                            {{#isType dropdown_options.dropdown_type "list"}}
                            {{#if dropdown_options.dropdown_config}}
                            {{#each dropdown_options.dropdown_config.groups}}
                            <li class="qld-header__cta-list">
                                <a class="qld-header-link" href="{{url}}" {{#if action}} target="{{action}}" {{/if}}>
                                    {{label}}
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg" class="cta_arrow">
                                        <path
                                            d="M18.8592 12.6135L13.6659 17.6633C13.5721 17.7781 13.4156 17.8068 13.2905 17.8068C13.1654 17.8068 13.0402 17.7781 12.9464 17.692C12.7274 17.5199 12.7274 17.233 12.9151 17.0608L17.295 12.757H5.50056C5.21899 12.757 5 12.5562 5 12.3266C5 12.0971 5.21899 11.8389 5.50056 11.8389H17.295L12.9151 7.56375C12.7274 7.3916 12.7274 7.10468 12.9464 6.93253C13.1654 6.76038 13.4782 6.76038 13.6659 6.96122L18.8592 12.011C19.0469 12.1832 19.0469 12.4414 18.8592 12.6135Z"
                                            fill="#FFE500" />
                                    </svg>
                                </a>
                            </li>
                            {{/each}}
                            {{#if dropdown_options.view_more}}
                            <li class="qld-header__cta-list">
                                <a href="{{dropdown_options.url}}" target="{{dropdown_options.target}}"
                                    class="qld-header-link view-all border-bottom-0">
                                    {{dropdown_options.label}}
                                </a>
                            </li>
                            {{/if}}
                            {{/if}}
                            {{/isType}}
                            {{#isType dropdown_options.dropdown_type "form"}}
                            {{#if dropdown_options.dropdown_config.content}}
                            {{{dropdown_options.dropdown_config.content}}}
                            {{/if}}
                            {{/isType}}
                        </ul>
                        {{/if}}
                    </span>
                    {{/each}}
                    {{/if}}
                </div>

            </div>




            <div class="qld-header__main-nav-controls">
                {{#if siteSearchAsset.value}}
                <button aria-controls="qld-header-search"
                    class="qld-header__toggle-main-nav qld__main-nav__toggle-search" aria-expanded="false">
                    <svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg">
                        <use class="icon-search" href="{{@root.icon-root}}#{{@root.icons.search-icon}}"
                            aria-hidden="true" style="display: block;"></use>
                        <use class="icon-close" href="{{@root.icon-root}}#{{@root.icons.close-icon}}"
                            style="display: none;"></use>
                    </svg>
                    <span class="qld__main-nav__toggle-text">Search</span>
                </button>
                {{/if}}
                <button aria-controls="main-nav" class="qld-header__toggle-main-nav qld__main-nav__toggle--open"
                    data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Open menu">
                    <svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg">
                        <use href="{{@root.icon-root}}#{{@root.icons.menu-icon}}" aria-hidden="true"></use>
                    </svg>
                    <span class="qld__main-nav__toggle-text">Menu</span>
                </button>
            </div>

        </div>
    </div>
    <div
        class="qld-header-main {{#if siteHeader.config.masterbrand_enabled}}qld-header__main--masterbrand--{{siteHeader.config.masterbrand_enabled}}{{/if}}">
        <div class="container-fluid">
            {{#if siteHeader.config.masterbrand_enabled}}
            <div class="qld-header__brand">
                <a href="{{siteHeader.url.value}}">
                    <div class="qld-header__brand-image">
                        {{#if siteHeader.logo.value}}
                        <img src="{{siteHeader.logo.value}}" width="329.57" height="56" alt="Queensland Government" />
                        {{else}}
                        {{>logo width="330" height="56" fill="currentColor"}}
                        {{/if}}
                    </div>
                </a>
            </div>
            {{/if}}
            {{#ifAny siteHeader.config.subbrand_enabled siteHeader.config.cobrand_enabled}}
            <div class="qld-header__brand">
                <a href="{{siteHeader.url.value}}">
                    <div class="qld-header__brand-image qld-header__brand-image_subtype">
                        {{#if siteHeader.logo.value}}
                        <img src="{{siteHeader.logo.value}}" width="170" height="56" alt="Queensland Government" />
                        {{else}}
                        {{>logo logo="coa-landscape-2lines" width="170" height="56" fill="currentColor" }}
                        {{/if}}
                    </div>
                    {{#if siteHeader.secondaryType}}
                    <div class="qld-header__site-name">
                        <span class="qld-header__heading">
                            {{siteHeader.secondaryType.siteTitle.value}}
                        </span>
                        {{#if siteHeader.secondaryType.subline.value}}
                        <span class="qld-header__subline">
                            {{siteHeader.secondaryType.subline.value}}
                        </span>
                        {{/if}}
                    </div>
                    {{/if}}
                </a>
            </div>
            {{/ifAny}}
            {{#if siteHeader.config.endorsed_enabled}}
            <div class="qld-header__brand">
                <a href="{{siteHeader.url.value}}">
                    <div class="qld-header__brand-image qld-header__brand-image_subtype">
                        {{#if siteHeader.secondaryType.logo.value}}
                        <div class="qld-header__site-name">
                            <img class="qld-header__secondary-image" alt="{{siteHeader.secondaryType.siteTitle.value}}"
                                src="{{siteHeader.secondaryType.logo.value}}" />
                        </div>
                        {{/if}}
                    </div>
                    {{#if siteHeader.secondaryType.logo.value}}
                    <div class="qld-header__site-name">
                        <span class="qld-header__heading">
                            {{siteHeader.secondaryType.siteTitle.value}}
                        </span>
                        {{#if siteHeader.secondaryType.subline.value}}
                        <span class="qld-header__subline">
                            {{siteHeader.secondaryType.subline.value}}
                        </span>
                        {{/if}}
                    </div>
                    {{/if}}
                </a>
            </div>
            {{/if}}
            {{#if siteHeader.config.standalone_enabled}}
            <div class="qld-header__brand">
                <a href="{{siteHeader.url.value}}">
                    <div class="qld-header__brand-image">
                        {{#if siteHeader.logo.value}}
                        <img src="{{siteHeader.logo.value}}" width="170" height="56" alt="Queensland Government" />
                        {{/if}}
                    </div>
                    {{#if siteHeader.secondaryType.logo.value}}
                    <div class="qld-header__site-name">
                        <img class="qld-header__secondary-image" alt="{{siteHeader.secondaryType.siteTitle.value}}"
                            src="{{siteHeader.secondaryType.logo.value}}" />
                    </div>
                    {{else}}
                    <div class="qld-header__site-name">
                        <span class="qld-header__heading">
                            {{siteHeader.secondaryType.siteTitle.value}}
                        </span>
                        {{#if siteHeader.secondaryType.subline.value}}
                        <span class="qld-header__subline">
                            {{siteHeader.secondaryType.subline.value}}
                        </span>
                        {{/if}}
                    </div>
                    {{/if}}
                </a>
            </div>
            {{/if}}
            {{#if siteSearchAsset.value}}
            <div id="qld-header-search" class="qld-header__site-search qld-header__site-search--closed">
                <form class="site-search" role="search" {{#if siteSearchAsset.formAction.url}}
                    action="{{siteSearchAsset.formAction.url}}" {{else}} action="https://www.qld.gov.au/search" {{/if}}>
                    {{{ searchInput }}}
                </form>
            </div>
            {{/if}}
        </div>
    </div>
</header>