<header class="qld-header" role="banner">
    <div class="qld-header-pre-header {{#ifCond preHeader.palette "===" " dark"}}dark{{else}}{{#ifCond
        preHeader.palette "===" "light" }}light{{else}}{{#ifCond preHeader.palette "===" "dark-alt"
        }}dark-alt{{else}}dark{{/ifCond}}{{/ifCond}}{{/ifCond}}">
        <div class="qld-header-container">
            <div class="d-flex justify-content-between align-items-baseline">

                <a class="qld-header-link"
                    href="{{#if preHeader.globalLink.url}}{{preHeader.globalLink.url}}{{else}}https://qld.gov.au{{/if}}">
                    <span class="d-none d-lg-inline">{{preHeader.globalLink.text}}</span>
                    {{>logo className="qld-header-logo" fill="currentColor"}}
                </a>

                {{#if preHeader.actions}}
                <div class="d-none d-lg-flex gap-20 align-items-baseline">
                    {{#each preHeader.actions}}
                    {{#if dropdown}}
                    <div class="dropdown">
                        <a id="dropdown{{id}}" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                            class="qld-header-link" href="#">
                            {{{text}}}
                            {{!-- <span
                                class="qld-header-dropdown-icon qld-icon qld-icon-chevron-down qld-icon-xs align-middle ml-2"></span>
                            --}}
                            <svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg"
                                class="qld-header-dropdown-icon ">
                                <use href="{{@root.assets.SVGSpritePath}}#{{@root.assets.icons.chevron_down}}"
                                    aria-hidden="true"></use>
                            </svg>
                        </a>

                        {{#ifCond dropdown.type "===" "list"}}
                        <ul class="dropdown-menu dark">

                            {{#each dropdown.items}}
                            <li>
                                <a class="qld-header-link dropdown-item" href="{{url}}" {{#if target}}target="{{target}}"{{/if}}>
                                    {{text}}
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg" class="cta_arrow">
                                        <path
                                            d="M18.8592 12.6135L13.6659 17.6633C13.5721 17.7781 13.4156 17.8068 13.2905 17.8068C13.1654 17.8068 13.0402 17.7781 12.9464 17.692C12.7274 17.5199 12.7274 17.233 12.9151 17.0608L17.295 12.757H5.50056C5.21899 12.757 5 12.5562 5 12.3266C5 12.0971 5.21899 11.8389 5.50056 11.8389H17.295L12.9151 7.56375C12.7274 7.3916 12.7274 7.10468 12.9464 6.93253C13.1654 6.76038 13.4782 6.76038 13.6659 6.96122L18.8592 12.011C19.0469 12.1832 19.0469 12.4414 18.8592 12.6135Z"
                                            fill="#FFE500" />
                                    </svg>
                                </a>
                            </li>
                            {{/each}}

                            {{#if dropdown.viewMore}}
                            <li>
                                <a href="{{dropdown.viewMore.url}}" {{#if dropdown.viewMore.target}}target="{{dropdown.viewMore.target}}"{{/if}}
                                    class="qld-header-link dropdown-item border-bottom-0">
                                    {{dropdown.viewMore.text}}
                                </a>
                            </li>
                            {{/if}}

                        </ul>
                        {{/ifCond}}

                        {{#ifCond dropdown.type "===" "form"}}
                        <div class="dropdown-menu">
                            {{{dropdown.HTMLContent}}}
                        </div>
                        {{/ifCond}}
                        
                    </div>
                    {{else}}
                    <a class="qld-header-link" href="{{url}}">{{{text}}}</a>
                    {{/if}}
                    {{/each}}
                </div>
                {{/if}}
            </div>

            <div class="qld-header__main-nav-controls">
                {{#if assets.siteSearch.value}}
                <button aria-controls="qld-header-search"
                    class="qld-header__toggle-main-nav qld__main-nav__toggle-search" aria-expanded="false">
                    <svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg">
                        <use class="icon-search"
                            href="{{@root.assets.SVGSpritePath}}#{{@root.assets.icons.search-icon}}" aria-hidden="true"
                            style="display: block;"></use>
                        <use class="icon-close" href="{{@root.assets.SVGSpritePath}}#{{@root.assets.icons.close-icon}}"
                            style="display: none;"></use>
                    </svg>
                    <span class="qld__main-nav__toggle-text">Search</span>
                </button>
                {{/if}}
                <button aria-controls="main-nav" class="qld-header__toggle-main-nav qld__main-nav__toggle--open"
                    data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Open menu">
                    <svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg">
                        <use href="{{@root.assets.SVGSpritePath}}#{{@root.assets.icons.menu-icon}}" aria-hidden="true">
                        </use>
                    </svg>
                    <span class="qld__main-nav__toggle-text">Menu</span>
                </button>
            </div>

        </div>
    </div>

    <div class="qld-header-main {{#if isMasterBrand}}is-masterbrand{{/if}}">
        <div class="container-fluid">
            {{#ifAny isMasterBrand isSubBrand isCoBrand}}
            {{>headerBrand
            url=mainContent.url
            logo=mainContent.logo
            siteTitle=mainContent.siteTitle
            subline=mainContent.subline }}
            {{/ifAny}}

            {{#ifAny isEndorsedBrand isStandaloneBrand }}
            {{>headerBrand
            url=mainContent.url
            logo=mainContent.logo
            siteTitle=mainContent.siteTitle
            secondaryLogo=mainContent.secondaryLogo
            subline=mainContent.subline }}
            {{/ifAny}}

            {{#if assets.siteSearch.value}}
            <div id="qld-header-search" class="qld-header__site-search qld-header__site-search--closed">
                <form class="site-search" role="search" {{#if assets.siteSearch.formAction.url}}
                    action="{{assets.siteSearch.formAction.url}}" {{else}} action="https://www.qld.gov.au/search"
                    {{/if}}>
                    {{{ searchInput }}}
                </form>
            </div>
            {{/if}}
        </div>
    </div>
</header>