<header class="qld__header" role="banner">
    <nav class="qld__header__skip-link" aria-label="skip links" tabindex="-1">
        <a class="qld__header__skip-link__linkstyle" href="#content">Skip to main content</a>
        <a class="qld__header__skip-link__linkstyle" href="#main-nav">Skip to main navigation</a>
    </nav>
    <div class="qld__header__pre-header">
        <div class="container-fluid">
            <a href="{{#if sitePreHeader.url.value}}{{sitePreHeader.url.value}}{{else}}https://qld.gov.au{{/if}}">
                <span class="qld__header__pre-header-url">{{sitePreHeader.text.value}}</span>
                {{#if sitePreHeader.logo.value}}
                <img class="qld__header__pre-header-brand-image" alt="Queensland Government"
                    src="{{sitePreHeader.logo.value}}" />
                {{/if}}
            </a>
            <div class="qld__header__cta-wrapper">
                {{#if sitePreHeader.mainNavCtaOne.value}}
                <a class="qld__header__cta-link" href="{{sitePreHeader.mainNavCtaOne.value}}">
                    {{#if sitePreHeader.mainNavCtaOne.icon.value}}
                    <span class="qld__header__cta-link-icon">
                        <i class="{{sitePreHeader.mainNavCtaOne.icon.value}}"></i>
                    </span>
                    {{/if}}
                    <span class="qld__header__cta-link-text">{{sitePreHeader.mainNavCtaOne.text.value}}</span>
                </a>
                {{/if}}
                {{#if sitePreHeader.mainNavCtaTwo.value}}
                <a class="qld__header__cta-link" href="{{sitePreHeader.mainNavCtaTwo.value}}">
                    {{#if sitePreHeader.mainNavCtaTwo.icon.value}}
                    <span class="qld__header__cta-link-icon">
                        <i class="{{sitePreHeader.mainNavCtaTwo.icon.value}}"></i>
                    </span>
                    {{/if}}
                    <span class="qld__header__cta-link-text">{{sitePreHeader.mainNavCtaTwo.text.value}}</span>
                </a>
                {{/if}}
            </div>
            <div class="qld__header__main-nav-controls">
                {{#if siteSearchAsset.value}}
                <button aria-controls="qld-header-search"
                    class="qld__header__toggle-main-nav qld__main-nav__toggle-search qld__main-nav__toggle-search--open"
                    aria-expanded="false">
                    <svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg"
                        class="qld__icon qld__icon--lg qld__main-nav__toggle-search-icon">
                        <use href="{{siteSearchAsset.icons.search-icon}}#qld__icon__search"></use>
                    </svg>
                    <!--<svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" class="qld__icon qld__icon--lg qld__main-nav__toggle-search-close-icon"><use href="{{siteSearchAsset.icons.search-close-icon}}#qld__icon__close"></use></svg>-->
                    <span class="qld__main-nav__toggle-text">Search</span>
                </button>
                {{/if}}
                <button aria-controls="main-nav" class="qld__header__toggle-main-nav qld__main-nav__toggle--open"
                    data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg"
                        class="qld__icon qld__icon--lg">
                        <use href="{{siteSearchAsset.icons.search-icon}}#qld__icon__mobile-menu"></use>
                    </svg>
                    <span class="qld__main-nav__toggle-text">Menu</span>
                </button>
            </div>
        </div>
    </div>
    <div class="qld__header__main qld__header__main--masterbrand--{{siteHeader.config.masterbrand_enabled}}">
        <div class="container-fluid">
            {{#if siteHeader.config.masterbrand_enabled}}
            <div class="qld__header__brand">
                <a href="{{siteHeader.url.value}}">
                    <div class="qld__header__brand-image">
                        {{#if siteHeader.logo.value}}
                        <img src="{{siteHeader.logo.value}}" width="329.57" height="56">
                            <title>Queensland Government</title>
                        </img>
                        {{else}}
                        <img src="assets/dist/img/header-logo-qgov-masterbrand--default.svg" width="329.57" height="56">
                            <title>Queensland Government</title>
                        </img>
                        {{/if}}
                    </div>
                </a>
            </div>
            {{/if}}

            {{#if siteHeader.config.otherbrand_enabled}}
            <div class="qld__header__brand">
                <a href="{{siteHeader.url.value}}">
                    <div class="qld__header__brand-image qld__header__brand-image_subtype">
                        {{#if siteHeader.logo.value}}
                        <img src="{{siteHeader.logo.value}}" width="170" height="56">
                        <title>Queensland Government</title>
                        </img>
                        {{else}}
                        <img src="assets/img/header-logo-qgov--default.svg" width="170" height="56">
                        <title>Queensland Government</title>
                        </img>
                        {{/if}}
                    </div>
                    {{#if siteHeader.secondaryType.logo.value}}
                    <div class="qld__header__site-name">
                        <img class="qld__header__secondary-image" alt="{{siteHeader.secondaryType.siteTitle.value}}"
                            src="{{siteHeader.secondaryType.logo.value}}" />
                    </div>
                    {{else}}
                    <div class="qld__header__site-name">
                        <span class="qld__header__heading">
                            {{siteHeader.secondaryType.siteTitle.value}}
                        </span>
                        {{#if siteHeader.secondaryType.subline.value}}
                        <span class="qld__header__subline">
                            {{siteHeader.secondaryType.subline.value}}
                        </span>
                        {{/if}}
                    </div>
                    {{/if}}
                </a>
            </div>
            {{/if}}

            {{#if siteSearchAsset.value}}
            <div class="d-none d-lg-block header-site-search">
                <form id="site-search">
                    <input type="text" class="form-control" placeholder="Search">
                    <input type="submit" class="btn btn-primary" value="Search">
                </form>
            </div>
            {{/if}}
        </div>
    </div>
</header>
<!-- HEADER END -->