<header class="qld-header" role="banner">
    <div class="qld-header-pre-header {{#ifCond preHeader.palette "===" " dark"}}dark{{else}}{{#ifCond
        preHeader.palette "===" "light" }}light{{else}}{{#ifCond preHeader.palette "===" "dark-alt"
        }}dark-alt{{else}}dark{{/ifCond}}{{/ifCond}}{{/ifCond}}">
        <div class="container">
            <div class="d-flex justify-content-between align-items-baseline">

                <a class="qld-header-link"
                    href="{{#if preHeader.globalLink.url}}{{preHeader.globalLink.url}}{{else}}https://qld.gov.au{{/if}}">
                    <span class="d-none d-lg-inline">{{preHeader.globalLink.text}}</span>
                    {{>logo className="qld-header-logo" fill="currentColor"}}
                </a>

                {{#if preHeader.actions}}
                <div class="d-none d-lg-flex gap-20 align-items-baseline">
                    {{#each preHeader.actions}}
                    {{#if dropdown}}
                    <div class="dropdown">
                        <a id="dropdown{{id}}" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                            class="qld-header-link" href="#">
                            {{{text}}}

                            <svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg"
                                class="qld-header-dropdown-icon ">
                                <use href="{{@root.assets.SVGSpritePath}}#qgds-icon-chevron-down"
                                    aria-hidden="true"></use>
                            </svg>
                        </a>

                        {{#ifCond dropdown.type "===" "list"}}
                        <ul class="dropdown-menu">

                            {{#each dropdown.items}}
                            <li>
                                <a class="qld-header-link dropdown-item " href="{{url}}" {{#if target}}target="{{target}}"{{/if}}>
                                    {{text}}
                                    <svg width="24" height="24" class="qld-header-icon qld-header-dropdown-item-icon">
                                        <use href="{{@root.assets.SVGSpritePath}}#qgds-icon-arrow-right"
                                            aria-hidden="true"></use>
                                    </svg>
                                </a>
                            </li>
                            {{/each}}

                            {{#if dropdown.viewMore}}
                            <li>
                                <a href="{{dropdown.viewMore.url}}" {{#if dropdown.viewMore.target}}target="{{dropdown.viewMore.target}}"{{/if}}
                                    class="qld-header-link dropdown-item border-bottom-0">
                                    {{dropdown.viewMore.text}}
                                </a>
                            </li>
                            {{/if}}

                        </ul>
                        {{/ifCond}}

                        {{#ifCond dropdown.type "===" "form"}}
                        <div class="dropdown-menu">
                            {{{dropdown.HTMLContent}}}
                        </div>
                        {{/ifCond}}

                    </div>
                    {{else}}

                    <a class="qld-header-link" href="{{url}}">
                        {{#if icon}} 
                        <svg class="qld-header-link-icon">
                            <use href="{{@root.assets.SVGSpritePath}}#qgds-icon-{{icon}}" aria-hidden="true"></use>
                        </svg>{{/if}}{{{text}}}
                    </a>
                    {{/if}}
                    {{/each}}
                </div>
                {{/if}}
            </div>

            <div class="qld-header-main-nav-controls">
                {{#if assets.siteSearch.value}}
                <button id="qld-header-toggle-search-button" aria-controls="qld-header-search"
                    class="qld-header-toggle-main-nav" aria-expanded="false">
                    <svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg">
                        <use class="icon-search"
                            href="{{@root.assets.SVGSpritePath}}#qgds-icon-search" aria-hidden="true"
                            style="display: block;"></use>
                        <use class="icon-close" href="{{@root.assets.SVGSpritePath}}#qgds-icon-close"
                            style="display: none;"></use>
                    </svg>
                    <span class="qld-header-toggle-main-nav-text">Search</span>
                </button>
                {{/if}}

                <button id="burgerBtn" class="qld-header-toggle-main-nav"
                    data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false"
                    aria-label="Open menu">
                    <svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg">
                        <use href="{{@root.assets.SVGSpritePath}}#qgds-icon-menu" aria-hidden="true">
                        </use>
                    </svg>
                    <span class="qld-header-toggle-main-nav-text">Menu</span>
                </button>
            </div>
        </div>
    </div>

    <div class="qld-header-main {{#if isMasterBrand}}is-masterbrand{{/if}}">
        <div class="container py-16">
            <div class="row align-items-center">
                <div class="col">
                    {{#ifAny isMasterBrand isSubBrand isCoBrand}}
                    {{>headerBrand
                    url=mainContent.url
                    logo=mainContent.logo
                    siteTitle=mainContent.siteTitle
                    subline=mainContent.subline }}
                    {{/ifAny}}

                    {{#ifAny isEndorsedBrand isStandaloneBrand }}
                    {{>headerBrand
                    url=mainContent.url
                    logo=mainContent.logo
                    siteTitle=mainContent.siteTitle
                    secondaryLogo=mainContent.secondaryLogo
                    subline=mainContent.subline }}
                    {{/ifAny}}
                </div>

                {{#if assets.siteSearch.value}}
                <div class="col-lg-4">
                    <div id="qld-header-search" class="qld-header-site-search is-closed">
                        <form class="site-search" role="search" {{#if assets.siteSearch.formAction.url}}
                            action="{{assets.siteSearch.formAction.url}}" {{else}}
                            action="https://www.qld.gov.au/search" {{/if}}>
                            {{{ searchInput }}}
                        </form>
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</header>