<!-- QGDS Partial: card -->

<div class="card h-100 {{#if feature}} card-feature {{/if}} {{classes}} {{sizes}}">
    
    {{! Feature }}    

    {{#unless feature}}
    {{! shouldn't render image if no image }}
    {{#if image}}<img src="{{image}}" class="card-img-top" alt="{{alt}}" />{{/if}}
    
    <div class="card-body">

        {{#if withdate}}
        <p class="small">{{date}}</p>
        {{/if}}
        <h3 class="card-title"> 

            {{#if link}}<a href="{{link}}" class="stretched-link">{{title}}</a>{{/if}}
            {{#unless link}}{{title}}{{/unless}}
        </h3>

        <p class="card-text">
            {{description}}
        </p>
    </div>

    {{#if footer}}
    <div class="card-footer">{{footer}}</div>
    {{/if}}

    {{/unless}}

    {{! _________________________________________ }}

    {{#if feature}}
        {{! shouldn't render image if no image }}
    <div class="row g-0">
        <div class="col-md-4">
            {{#if image}}<img src="{{image}}" class="card-img-top" alt="{{alt}}" />{{/if}}
        </div>

        <div class="col-md-8">
            <div class="card-body">

                <h3 class="card-title">
                    {{#if link}}<a href="{{link }}" class="stretched-link">{{title}}</a>{{/if}}
                    {{#unless link}}{{title}}{{/unless}}
                </h3>

                <p class="card-text">
                    {{description}}
                </p>
            </div>

            {{#if footer}}
            <div class="card-footer">{{footer}}</div>
            {{/if}}
        </div>
    </div>

    {{/if}}


</div>