<!-- QGDS Partial: card -->

<div class="card h-100">

    <img src="{{image}}" class="card-img-top" alt="{{alt}}" />

    <div class="card-body">
        <h3 class="card-title">
            {{#if link }}
            <a href="{{link}}">{{title}}</a>
            {{/else }}
            {{ title }}
            {{/if }}
        </h3>

        <p class="card-text">
            {{description}}
        </p>
    </div>

    {{#if footer}}
    <div class="card-footer">
        {{footer}}
    </div>
    {{/if }}

</div>