<div class="row row-cols-1 row-cols-md-3 g-4">

{{#each cards}}
  <div class="col">
    <div class="card h-100">
      <img src="{{image}}" class="card-img-top" alt="{{alt}}">
      <div class="card-body">
        <h5 class="card-title">{{#if islink}} <a href="{{link}}"> {{title}} </a> {{else}} {{title}}{{/if}} </h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  {{/each}}
</div>