<!-- QGDS Partial: card -->

<div class="col">

    <div class="card h-100 {{variantClass}} {{iconPosition}}">

        {{#if image}}
        <div class="card-img ratio ratio-16x9">
            <div class="card-img-top" style="--card-image:url({{image}})" alt="{{imageAlt}}"></div>
        </div>
        {{/if}}

        {{#if iconClasses}}
        <div class="card-icon {{iconPosition}}">
            <i class="{{iconClasses}}"></i>
        </div>
        {{/if}}

        <div class="card-body">
            <h3 class="card-title">
                {{#if link}}
                <a href="{{link}}">{{title}}</a>
                {{else}}
                {{ title }}
                {{/if }}
            </h3>

            <p class="card-text">
                {{description}}
            </p>
        </div>

        {{#if footer}}
        <div class="card-footer">
            {{{footer}}}
        </div>
        {{/if }}

    </div>

</div>
